"*":
  "atom-beautify":
    css:
      indent_size: 2
    general:
      _analyticsUserId: "72598d17-3d98-466e-96d5-9a6651c42ffa"
    html:
      indent_size: 2
    js:
      indent_size: 2
    json:
      indent_size: 2
    less:
      indent_size: 2
    python:
      indent_size: 2
    scss:
      indent_size: 2
    typescript:
      indent_size: 2
    vue:
      indent_size: 2
    xml:
      indent_size: 2
  "autocomplete-plus":
    enableExtendedUnicodeSupport: true
    maxVisibleSuggestions: 20
  autoprefixer:
    remove: false
  autosave:
    enabled: true
  "bracket-matcher":
    autocompleteCharacters: [
      "()"
      "[]"
      "{}"
      "\"\""
      "''"
      "``"
      "“”"
      "‘’"
      "<>"
      "《》"
      "（）"
      "「」"
      "『』"
      "【】"
      "〖〗"
    ]
  "color-picker":
    preferredFormat: "HEX"
  core:
    allowPendingPaneItems: false
    audioBeep: false
    closeEmptyWindows: false
    destroyEmptyPanes: false
    disabledPackages: [
      "whitespace"
      "open-on-github"
      "symbols-tree-view"
      "autocomplete-paths"
      "archive-view"
      "image-view"
      "background-tips"
      "spell-check"
      "link"
      "atom-wrap-in-tag"
      "git-diff"
      "restore-windows"
      "welcome"
      "language-javascript-jsx"
      "language-babel"
      "metrics"
      "symbols-view"
      "github"
      "language-vue-component"
      "atom-beautify"
      "pigments"
      "update-package-dependencies"
      "dalek"
      "exception-reporting"
      "fuzzy-finder"
      "incompatible-packages"
      "keybinding-resolver"
      "markdown-preview"
      "package-generator"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      "*.svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "*.docx"
      "*.doc"
      "*.pdf"
      "*.jpg"
      "*.project"
      "*.lnk"
      "*.ini"
      "*.exe"
    ]
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: [
      "highlight-selected"
    ]
    projectHome: "E:\\project\\atom"
    telemetryConsent: "limited"
    warnOnLargeFileLimit: 10
  editor:
    backUpBeforeSaving: true
    fontFamily: "Consolas,KaiTi"
    invisibles:
      cr: " "
      eol: " "
    lineHeight: 1.3
    nonWordCharacters: "@/\\()\"':：,.;<>~!#$%^&*|+=[]{}`?…、◆★●■▲▼（），。-「」【】〖〗『』《》“”‹›"
    scrollSensitivity: 100
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapHangingIndent: 2
    tabType: "soft"
    zoomFontWhenCtrlScrolling: false
  emmet:
    useEmmetComments: true
  "exception-reporting":
    userId: "5f61d292-ea99-1e9e-8053-6d928b06065f"
  "file-icons": {}
  "fold-functions":
    autofold: true
    autofoldGrammars: [
      "autofoldIgnoreGrammars"
    ]
    debug: true
  "highlight-line":
    underline: "dashed"
  "highlight-selected":
    highlightBackground: true
    lightTheme: true
    minimumLength: 1
    timeout: 10
  minimap:
    absoluteMode: true
    autoToggle: true
    charWidth: 0.7
    moveCursorOnMinimapClick: true
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  "one-light-ui": {}
  "open-in-browsers":
    Edge: true
    browsers: [
      "Chrome"
      "Firefox"
      "IE"
      "Edge"
      "ChromePortable"
      "FirefoxPortable"
      "SafariPortable"
      "BrowserPlus"
      "Opera"
      "Safari"
    ]
  "php-cs-fixer": {}
  pigments: {}
  "restore-windows": {}
  "settings-view":
    enabled: true
  "simplified-chinese-menu": {}
  smalls: {}
  "symbols-tree-view":
    defaultWidth: 166
    scrollAnimation: false
    zAutoHideTypes: "number string undefined unknown array object"
  tabs:
    enableVcsColoring: true
  "tree-view":
    alwaysOpenExisting: false
    autoReveal: false
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  "tree-view-finder": {}
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
    ignoreWhitespaceOnCurrentLine: false
    keepMarkdownLineBreakWhitespace: false
    removeTrailingWhitespace: false
".basic.html.text":
  editor:
    autoIndentOnPaste: true
    nonWordCharacters: "/\\()\"':：,.;<>~!#$%^&*|+=[]{}`?…、◆★●■▲▼（），。-「」【】〖〗『』《》@"
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: false
".clojure.source":
  editor:
    preferredLineLength: 111
    softWrapHangingIndent: 2
".css.less.source":
  editor:
    showInvisibles: true
".css.source":
  editor:
    autoIndent: true
    autoIndentOnPaste: true
    softWrapAtPreferredLineLength: false
".html.php.text":
  editor:
    nonWordCharacters: "/\\()\"':,.;<>~!#%^&*|+=[]{}`?…、◆★●■▲▼（），。-"
".html.text.vue":
  editor:
    nonWordCharacters: "/\\()\"':,.;<>~!@#$%^&*|+=[]{}`?…-"
".makefile.source":
  editor:
    showInvisibles: true
".source.toml":
  editor:
    preferredLineLength: 111
    softWrapHangingIndent: 2
